.datatable {
    border:'1px solid red';
}

.datatable-head {
    background-color:darkgrey;
}

.datatable-head-cell {
    border: 1px solid gray;
}

.datatable-table {
    border-collapse:collapse;
}

.datatable-cell {
    border: 1px solid red;
}

.datatable-wrapperdiv {
}

.datatable-scrollwrapperdiv {
    display:grid;
    width:800px;
    height:600px;
}

.datatable-scrolldiv {
    overflow-y: scroll;
    grid-column:1;
    grid-row:1;
    z-index:2;
    pointer-events:none;
    margin-top:47px;
    margin-bottom:12px;
}

.datatable-scroll-fakecontents {
    height:10000px;
    width:100%;
}

.datatable-contentsdiv {
    overflow-x:auto;
    overflow-y:hidden;
    grid-column:1;
    grid-row:1;
    z-index:1;
    margin-right:12px;
}

.datatable-minibutton {
    border: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}